# Setup

La fase di setup è composta da:

- Installazione delle dipendenze
- Configurazione

## Installazione delle dipendenze

Qui viene effettuato il provisioning delle dipendenze del file.

In [1]:
!pip install -r prepare_requirements.txt

Collecting pandas

  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an EnvironmentError: [WinError 2] Impossibile trovare il file specificato: 'c:\\python38\\Scripts\\f2py.exe' -> 'c:\\python38\\Scripts\\f2py.exe.deleteme'

WARNING: You are using pip version 20.2.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\python38\python.exe -m pip install --upgrade pip' command.

  Using cached pandas-1.2.2-cp38-cp38-win_amd64.whl (9.3 MB)
Collecting sklearn
  Using cached sklearn-0.0.tar.gz (1.1 kB)
Collecting numpy>=1.16.5
  Using cached numpy-1.20.1-cp38-cp38-win_amd64.whl (13.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python38\lib\site-packages (from pandas->-r prepare_requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\python38\lib\site-packages (from pandas->-r prepare_requirements.txt (line 1)) (2020.1)
Requirement already satisfied: scikit-learn in c:\python38\lib\site-packages (from sklearn->-r prepare_requirements.txt (line 2)) (0.24.1)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas->-r prepare_requirements.txt (line 1)) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python38\lib\site-packages (from scikit-learn->sklearn->-r prepare_requirements.txt (line 2)) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\python38\lib\site-packages (from scikit-learn->sklearn->-r prepare_requirements.txt (line 2)) (1.0.1)
Collecting scipy>=0.19.1
  Using cached scipy-1.6.1-cp38-cp38-win_amd64.whl (32.7 MB)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: numpy, pandas, sklearn, scipy

## Configurazione

Qui vengono salvati alcuni valori che vengono utilizzati spesso nel file, lo scopo è quello di evitare hard coding.

In [2]:
dataset_full_path = "./"
dataset_filename = "Placement_Data_Full_Class.train.csv"

training_set_filename = "train.csv"
test_set_filename = "test.csv"

label_column_name = "status"

random_state = 11

# Data prepare

In questa fase viene letto il dataset, processato e splittato in due files: train.csv (contenente il dataset di training), e test.csv (contenente il dataset di test):
- Data import
- Data split
- Data export

## Data import

Viene letto il dataset in un pandas DataFrame.

In [3]:
# pandas è una libreria per Data Analysis
import pandas as pd

dataset = pd.read_csv(dataset_filename)

## Data split

Qui viene effettuato lo split del dataset in training set e test set.

Utilizzando la funzione train_test_split della libreria sklearn, è possibile ottenere uno split dei dati in training set e test set, i dati prodotti sono:
- x_train = pandas DataFrame contenente i datapoints appartenenti al **training set**.
- y_train = pandas Series contenente le coppie (ID, Label) appartenenti al **training set**.
- x_test = pandas DataFrame contenente i datapoints appartenenti al **test set**.
- y_test = pandas Series contenente le coppie (ID, Label) appartenenti al **test set**.

In [4]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(dataset, dataset[label_column_name], random_state = random_state)

## Data export

Come richiesto, il training set e il test set vengono esportati con nome train.csv e test.csv.

In [5]:
x_train.to_csv(training_set_filename, index=0)
x_test.to_csv(test_set_filename, index=0)

# Result visualization

Qui è possibile vedere il risultato dell'operazione, senza dover aprire esternamente i files.

In [6]:
x_train

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
2,Placed,M,73.0,Central,78.0,Others,Commerce,65.0,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,420000.0
14,Placed,M,73.0,Central,73.0,Central,Science,66.0,Sci&Tech,Yes,70.00,Mkt&Fin,68.07,275000.0
134,Placed,M,82.0,Others,90.0,Others,Commerce,83.0,Comm&Mgmt,No,80.00,Mkt&HR,73.52,200000.0
139,Placed,M,74.0,Central,62.0,Others,Science,68.0,Comm&Mgmt,No,74.00,Mkt&Fin,57.99,268000.0
87,Placed,M,80.0,Others,73.0,Others,Commerce,75.0,Comm&Mgmt,No,61.00,Mkt&Fin,58.78,240000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,Placed,M,60.0,Others,67.0,Others,Arts,70.0,Comm&Mgmt,Yes,50.48,Mkt&Fin,77.89,236000.0
81,Placed,F,73.0,Central,97.0,Others,Commerce,79.0,Comm&Mgmt,Yes,89.00,Mkt&Fin,70.81,650000.0
91,Placed,M,74.0,Others,59.0,Others,Commerce,73.0,Comm&Mgmt,Yes,60.00,Mkt&HR,56.70,240000.0
80,Placed,M,84.2,Central,69.4,Central,Science,65.0,Sci&Tech,Yes,80.00,Mkt&HR,52.72,255000.0
153,Not Placed,M,44.0,Central,58.0,Central,Arts,55.0,Comm&Mgmt,Yes,64.25,Mkt&HR,58.54,NaN

In [7]:
y_train

2          Placed
14         Placed
134        Placed
139        Placed
87         Placed
          ...
13         Placed
81         Placed
91         Placed
80         Placed
153    Not Placed
Name: status, Length: 129, dtype: object

In [8]:
x_test

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
97,Placed,M,65.00,Central,71.50,Others,Commerce,62.80,Comm&Mgmt,Yes,57.00,Mkt&Fin,56.60,265000.0
108,Not Placed,M,67.90,Others,62.00,Others,Science,67.00,Sci&Tech,Yes,58.10,Mkt&Fin,75.71,NaN
0,Not Placed,M,52.00,Central,62.00,Central,Commerce,54.00,Comm&Mgmt,No,72.00,Mkt&HR,55.41,NaN
55,Not Placed,M,51.00,Central,44.00,Central,Commerce,57.00,Comm&Mgmt,No,64.00,Mkt&Fin,51.45,NaN
3,Placed,M,67.00,Others,63.00,Central,Commerce,72.00,Comm&Mgmt,No,56.00,Mkt&HR,60.41,225000.0
69,Placed,M,70.00,Central,74.00,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,300000.0
94,Placed,M,65.20,Central,61.40,Central,Commerce,64.80,Comm&Mgmt,Yes,93.40,Mkt&Fin,57.34,270000.0
133,Placed,F,74.00,Central,60.00,Others,Science,69.00,Comm&Mgmt,No,78.00,Mkt&HR,65.56,216000.0
128,Not Placed,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,NaN
46,Placed,F,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,350000.0
165,Not Placed,M,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,NaN
52,Placed,F,85.00,Others,90.00,Others,Commerce,82.00,Comm&Mgmt,No,92.00,Mkt&Fin,68.03,300000.0
106,Placed,M,73.00,Central,64.00,Others,Commerce,77.00,Comm&Mgmt,Yes,65.00,Mkt&HR,60.98,250000.0
63,Placed,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,216000.0
141,Placed,F,66.00,Central,62.00,Central,Commerce,73.00,Comm&Mgmt,No,58.00,Mkt&HR,64.36,210000.0
99,Placed,M,58.00,Central,62.00,Central,Commerce,64.00,Comm&Mgmt,No,53.88,Mkt&Fin,54.97,260000.0
73,Not Placed,M,51.57,Others,74.66,Others,Commerce,59.90,Comm&Mgmt,Yes,56.15,Mkt&HR,65.99,NaN
116,Placed,M,84.00,Others,79.00,Others,Science,68.00,Sci&Tech,Yes,84.00,Mkt&Fin,66.69,300000.0
159,Not Placed,M,59.60,Central,51.00,Central,Science,60.00,Others,No,75.00,Mkt&HR,59.08,NaN
11,Not Placed,M,58.00,Others,40.00,Others,Science,59.00,Comm&Mgmt,No,73.00,Mkt&HR,58.81,NaN
29,Placed,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,300000.0
26,Not Placed,M,52.00,Others,65.00,Others,Arts,57.00,Others,Yes,75.00,Mkt&Fin,59.81,NaN
104,Not Placed,M,59.00,Central,64.00,Others,Science,58.00,Sci&Tech,No,85.00,Mkt&HR,55.30,NaN
36,Placed,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,250000.0
66,Placed,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,265000.0
124,Placed,F,74.90,Others,57.00,Others,Science,62.00,Others,Yes,80.00,Mkt&Fin,60.78,360000.0
22,Not Placed,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,NaN
113,Placed,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,252000.0
150,Placed,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,260000.0
100,Placed,F,67.16,Central,72.50,Central,Commerce,63.35,Comm&Mgmt,No,53.04,Mkt&Fin,65.52,250000.0
60,Placed,M,60.80,Central,68.40,Central,Commerce,64.60,Comm&Mgmt,Yes,82.66,Mkt&Fin,64.34,940000.0
88,Placed,F,77.00,Others,73.00,Others,Commerce,81.00,Comm&Mgmt,Yes,89.00,Mkt&Fin,69.70,200000.0
135,Placed,F,75.20,Central,73.20,Central,Science,68.40,Comm&Mgmt,No,65.00,Mkt&HR,62.98,200000.0
9,Placed,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,360000.0
51,Placed,F,73.00,Others,63.00,Others,Science,66.00,Comm&Mgmt,No,89.00,Mkt&Fin,60.50,216000.0
41,Placed,M,84.00,Others,90.90,Others,Science,64.50,Sci&Tech,No,86.04,Mkt&Fin,59.42,270000.0
162,Placed,F,64.00,Central,67.00,Others,Science,69.60,Sci&Tech,Yes,55.67,Mkt&HR,71.49,250000.0
112,Not Placed,M,62.00,Others,51.00,Others,Science,52.00,Others,No,68.44,Mkt&HR,62.77,NaN
15,Not Placed,F,70.50,Central,62.50,Others,Commerce,61.00,Comm&Mgmt,No,93.91,Mkt&Fin,69.03,NaN
30,Placed,M,76.76,Others,76.50,Others,Commerce,67.50,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,350000.0
123,Not Placed,F,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,NaN
42,Placed,F,72.00,Others,60.00,Others,Science,69.00,Comm&Mgmt,No,55.50,Mkt&HR,58.40,250000.0
101,Placed,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,300000.0

In [9]:
y_train

2          Placed
14         Placed
134        Placed
139        Placed
87         Placed
          ...
13         Placed
81         Placed
91         Placed
80         Placed
153    Not Placed
Name: status, Length: 129, dtype: object

In [10]:
y_train.value_counts()

Placed        88
Not Placed    41
Name: status, dtype: int64

In [11]:
y_test.value_counts()

Placed        29
Not Placed    14
Name: status, dtype: int64